
/* Header ----------------------------------------------------------------------*/

.HeadTitle{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header{
  background: var(--code-background);
  padding: 20px;
  margin-bottom: 50px;
}

header a{
  margin: 30px;
}

.navbar a{
  text-decoration: none;
}

/* Footer ----------------------------------------------------------------------*/

.footer{
  background: var(--code-background);
  margin-top: 32px;
  padding: 20px;
}

.copyright{
  justify-content: center;
  display: flex;
}

.copyright a{
  text-decoration: none;
  font-size: 13px;
}


/* Titres ----------------------------------------------------------------------*/

.BigUnderline{
   background: linear-gradient(0deg, rgba(240, 136, 41,0) 0%, rgba(240, 136, 41,0) 16%, rgba(240, 136, 41,1) 16%, rgba(240, 136, 41,1) 41%, rgba(240, 136, 41,0) 41%);
   padding:10px;
}


/* Homepage --------------------------------------------------------------------*/

.paragraphcol{
  -webkit-columns: 3 150px;
  -moz-columns: 3 150px;
  columns: 3 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

/*Cartes Personalités ----------------------------------------------------------*/

.PersonalityCard{
  background: var(--accent-color);
}

.PersonalityCard h4{
  color: var(--text-color-richer);
}

.PersonalityCard:hover{
  background: var(--accent-color-hover);
}


.PersoContainer{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.PersoImg img{
  width: 49vw;
  height: 100%;
  float: left;
  object-fit: cover;
  border: solid 5px;
  border-color: var(--accent-color);
}

.PersoParagraph{
  width: 49vw;
}

/*Page Personalités ------------------------------------------------------------*/

.social{
  font-size: 22px;
  margin-right: 22px;
}
