.header{
  background: var(--code-background);
}

.footer{
  background: var(--code-background);
  margin-top: 32px;
}

.paragraphcol{
  -webkit-columns: 3 150px;
  -moz-columns: 3 150px;
  columns: 3 150px;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
}

header a{
  margin: 30px;
}

.PersonalityCard{
  background: var(--accent-color);
}

.PersonalityCard h4{
  color: var(--text-color-richer);
}

.PersonalityCard:hover{
  background: var(--accent-color-hover);
}

.navbar{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}

.navbar a{
  text-decoration: none;
}

.PersoContainer{
  display: flex;
  flex-wrap: wrap;
}

.PersoImg img{
  width: 49vw;
  height: 100%;
  float: left;
  object-fit: cover;
}

.PersoParagraph{
  width: 49vw;
}

.social{
  font-size: 22px;
  margin-right: 22px;
}
