/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/



/* Extra small devices (phones, 700px and down) */
@media only screen and (max-width: 700px) {

  .paragraphcol{
    -webkit-columns: 1 150px;
    -moz-columns: 1 150px;
    columns: 1 150px;;
  }

  .PersoParagraph{
    width: 100vw;
  }

  .PersoImg img{
    width: 99vw;
    height: 50vh;
    margin-bottom: 30px;
  }

  .HeadTitle h1{
    font-size: 38px;
  }

  .navbar a{
    display: flex;
    justify-content: center;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .paragraphcol{
    -webkit-columns: 3 150px;
    -moz-columns: 3 150px;
    columns: 3 150px;
  }

  .grid-container.thirds {
		grid-template-columns: repeat(4, 1fr);
	}

}
